Source: dfwinreg
Section: python
Priority: extra
Maintainer: Log2Timeline maintainers <log2timeline-maintainers@googlegroups.com>
Build-Depends: debhelper (>= 9), dh-python, python-all (>= 2.7~), python-setuptools, python3-all (>= 3.4~), python3-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Homepage: https://github.com/log2timeline/dfwinreg

Package: python-dfwinreg
Architecture: all
Depends: libregf-python (>= 20150315), python-dfdatetime (>= 20160814), python-dtfabric (>= 20170524), python-yaml (>= 3.10), ${python:Depends}, ${misc:Depends}
Description: Python 2 module of dfWinReg
 dfWinReg, or Digital Forensics Windows Registry, provides read-only access to
 Windows Registry objects. The goal of dfWinReg is to provide a generic
 interface for accessing Windows Registry objects that resembles the Registry
 key hierarchy as seen on a live Windows system.

Package: python3-dfwinreg
Architecture: all
Depends: libregf-python3 (>= 20150315), python3-dfdatetime (>= 20160814), python3-dtfabric (>= 20170524), python3-yaml (>= 3.10), ${python3:Depends}, ${misc:Depends}
Description: Python 3 module of dfWinReg
 dfWinReg, or Digital Forensics Windows Registry, provides read-only access to
 Windows Registry objects. The goal of dfWinReg is to provide a generic
 interface for accessing Windows Registry objects that resembles the Registry
 key hierarchy as seen on a live Windows system.
