Source: dfwinreg
Section: python
Priority: extra
Maintainer: Log2Timeline maintainers <log2timeline-maintainers@googlegroups.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all (>= 3.6~), python3-setuptools
Standards-Version: 4.1.4
X-Python3-Version: >= 3.6
Homepage: https://github.com/log2timeline/dfwinreg

Package: python3-dfwinreg
Architecture: all
Depends: libcreg-python3 (>= 20200725), libregf-python3 (>= 20190714), python3-dfdatetime (>= 20160814), python3-dtfabric (>= 20170524), python3-yaml (>= 3.10), ${python3:Depends}, ${misc:Depends}
Description: Python 3 module of dfWinReg
 dfWinReg, or Digital Forensics Windows Registry, provides read-only access to
 Windows Registry objects. The goal of dfWinReg is to provide a generic
 interface for accessing Windows Registry objects that resembles the Registry
 key hierarchy as seen on a live Windows system.
