Source: python-dfwinreg
Section: python
Priority: extra
Maintainer: dfWinReg development team <log2timeline-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.0), python, python-setuptools
Standards-Version: 3.9.2
Homepage: https://github.com/log2timeline/dfwinreg/

Package: python-dfwinreg
Architecture: all
Depends: python, libregf-python ${misc:Depends}
Description: Digital Forensics Windows Registry (dfWinReg).
 dfWinReg, or Digital Forensics Windows Registry, provides read-only access to
 Windows Registry objects. The goal of dfWinReg is to provide a generic
 interface for accessing Windows Registry objects that resembles the Registry
 key hierarchy as seen on a live Windows system.
